flows.json
[
    {
        "id": "1bfd8fba4680f8c2",
        "type": "tab",
        "label": "Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94e9feb7e53ac9be",
        "type": "tab",
        "label": "Northwind",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e4626a6261e1b68",
        "type": "tab",
        "label": "Logger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bed9e688723fe50d",
        "type": "sqlitedb",
        "db": "/data//projects/node-red/examples/northwind.db",
        "mode": "RWC"
    },
    {
        "id": "4c519660a6cceb5e",
        "type": "sqlitedb",
        "db": "/data//projects/node-red/examples/logger.db",
        "mode": "RWC"
    },
    {
        "id": "71b571d8a411b32c",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "1ca9b0f51462a6c5"
            ]
        ]
    },
    {
        "id": "1ca9b0f51462a6c5",
        "type": "file in",
        "z": "1bfd8fba4680f8c2",
        "name": "home.html",
        "filename": "/data/projects/node-red/examples/home.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "243e95ad81a5b411"
            ]
        ]
    },
    {
        "id": "243e95ad81a5b411",
        "type": "http response",
        "z": "1bfd8fba4680f8c2",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "e93264615be1a228",
        "type": "comment",
        "z": "1bfd8fba4680f8c2",
        "name": "Example Home page",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "ed3c184879b429d1",
        "type": "comment",
        "z": "1bfd8fba4680f8c2",
        "name": "Example Messages",
        "info": "",
        "x": 130,
        "y": 380,
        "wires": []
    },
    {
        "id": "fddc949cc152e894",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "/example2",
        "url": "/example2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "57badce67c9e6fe4"
            ]
        ]
    },
    {
        "id": "91a32a21db9028f4",
        "type": "comment",
        "z": "1bfd8fba4680f8c2",
        "name": "Example json responses",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "57badce67c9e6fe4",
        "type": "function",
        "z": "1bfd8fba4680f8c2",
        "name": "json",
        "func": "// Create the JSON response\nvar response = {\n    message: \"Hello World2!\"\n};\n\n// Set the response object in the msg.payload\nmsg.payload = response;\n\n// Return the message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 240,
        "wires": [
            [
                "243e95ad81a5b411"
            ]
        ]
    },
    {
        "id": "e22ef674a420f854",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "/example1",
        "url": "/example1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "7e91d645fb16886f"
            ]
        ]
    },
    {
        "id": "7e91d645fb16886f",
        "type": "file in",
        "z": "1bfd8fba4680f8c2",
        "name": "json",
        "filename": "/data/projects/node-red/examples/example1.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "243e95ad81a5b411"
            ]
        ]
    },
    {
        "id": "a0b6a37077718314",
        "type": "inject",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "name",
                "v": "Example1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "7cda8b0c43aefd01"
            ]
        ]
    },
    {
        "id": "7cda8b0c43aefd01",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "898f4a61ac0e6717",
        "type": "inject",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "eae19b7eefd0235b"
            ]
        ]
    },
    {
        "id": "eae19b7eefd0235b",
        "type": "exec",
        "z": "1bfd8fba4680f8c2",
        "command": "uname -a",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "b9f17f611c1be0ab"
            ],
            [
                "d14c48765b3c9ad2"
            ],
            [
                "4eacc38af969855e"
            ]
        ]
    },
    {
        "id": "b9f17f611c1be0ab",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "d14c48765b3c9ad2",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "d": true,
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "4eacc38af969855e",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "d": true,
        "name": "return code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "30450783fbb96b8d",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "url": "/query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "c7a0ce631e17ed2a",
                "c36326b92892367d"
            ]
        ]
    },
    {
        "id": "27754b715f6d77f6",
        "type": "comment",
        "z": "1bfd8fba4680f8c2",
        "name": "Query strings",
        "info": "",
        "x": 110,
        "y": 520,
        "wires": []
    },
    {
        "id": "d300de2a07fce4b4",
        "type": "http request",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/query?param1=value1&param2=value2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "93a4d9f07ff26543",
        "type": "inject",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "d300de2a07fce4b4"
            ]
        ]
    },
    {
        "id": "c7a0ce631e17ed2a",
        "type": "http response",
        "z": "1bfd8fba4680f8c2",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 300,
        "y": 600,
        "wires": []
    },
    {
        "id": "c36326b92892367d",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.param1",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 640,
        "wires": []
    },
    {
        "id": "a9581294efe44ffe",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "/json1",
        "url": "/json1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "243e95ad81a5b411",
                "032eada9685adc70"
            ]
        ]
    },
    {
        "id": "032eada9685adc70",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "4368ddad433abe55",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "url": "/json2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "5e14a11d463c32b3",
                "032eada9685adc70"
            ]
        ]
    },
    {
        "id": "5e14a11d463c32b3",
        "type": "template",
        "z": "1bfd8fba4680f8c2",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "243e95ad81a5b411"
            ]
        ]
    },
    {
        "id": "46d1afde3e8625ee",
        "type": "http in",
        "z": "94e9feb7e53ac9be",
        "name": "",
        "url": "/customers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "af16b79c0b0e3d18"
            ]
        ]
    },
    {
        "id": "af16b79c0b0e3d18",
        "type": "sqlite",
        "z": "94e9feb7e53ac9be",
        "mydb": "bed9e688723fe50d",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM Customers",
        "name": "Northwind",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "7c5a29963e98090e"
            ]
        ]
    },
    {
        "id": "7c5a29963e98090e",
        "type": "http response",
        "z": "94e9feb7e53ac9be",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "7b5154e4f529b722",
        "type": "http in",
        "z": "94e9feb7e53ac9be",
        "name": "",
        "url": "/orders",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "088f85cc6410ea11"
            ]
        ]
    },
    {
        "id": "088f85cc6410ea11",
        "type": "sqlite",
        "z": "94e9feb7e53ac9be",
        "mydb": "bed9e688723fe50d",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM Orders",
        "name": "Northwind",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "7c5a29963e98090e"
            ]
        ]
    },
    {
        "id": "5b1ec144c5c05046",
        "type": "inject",
        "z": "0e4626a6261e1b68",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "98ba0ac3af9c9733"
            ]
        ]
    },
    {
        "id": "8b1faa969c021c10",
        "type": "http in",
        "z": "0e4626a6261e1b68",
        "name": "",
        "url": "/readlogs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "56858c97b253ab53"
            ]
        ]
    },
    {
        "id": "9638dbf93fd5c502",
        "type": "http response",
        "z": "0e4626a6261e1b68",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "d8d041fc85d81a19",
        "type": "inject",
        "z": "0e4626a6261e1b68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "a9c945ee284511e6"
            ]
        ]
    },
    {
        "id": "ecee8b1e734a75ea",
        "type": "debug",
        "z": "0e4626a6261e1b68",
        "name": "debug msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "100f17aeb63563f3",
        "type": "inject",
        "z": "0e4626a6261e1b68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "8b764002d215e132"
            ]
        ]
    },
    {
        "id": "98ba0ac3af9c9733",
        "type": "function",
        "z": "0e4626a6261e1b68",
        "name": "sql create",
        "func": "var timestamp = msg.timestamp;\nvar level = \"INFO\"; // Set your desired level\nvar message = \"TEST\"; // Assuming your message contains the log message\n\nvar sql = `INSERT INTO logs (timestamp, level, message, application, host, ip)\n                      VALUES (${timestamp}, \n                      '${level}', \n                      '${message}', \n                      'YourApp', '\n                      YourHost', \n                      '192.168.1.100');`;\n\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [
            [
                "84542e8486558fce"
            ]
        ]
    },
    {
        "id": "e3fe85ac629e0421",
        "type": "http in",
        "z": "0e4626a6261e1b68",
        "name": "",
        "url": "/createlog",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "8ebb02341ecb0563"
            ]
        ]
    },
    {
        "id": "8ebb02341ecb0563",
        "type": "function",
        "z": "0e4626a6261e1b68",
        "name": "sql create",
        "func": "// Create a new Date object to get the current date and time\nvar currentDate = new Date();\n\n// Convert the Date object to a timestamp in milliseconds\nvar timestamp = currentDate.getTime();\n\n// Generate insert statement\nvar sql = `INSERT INTO logs (timestamp, level, message, application, host, ip)\n                       VALUES (${timestamp}, \n                             '${msg.payload.level}', \n                             '${msg.payload.message}', \n                             '${msg.payload.application}',  \n                             '${msg.payload.host}', \n                             '${msg.payload.ip}'\n                             );`;\n\nmsg.topic = sql;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "9638dbf93fd5c502",
                "e1946e6e673421d5"
            ]
        ]
    },
    {
        "id": "56858c97b253ab53",
        "type": "function",
        "z": "0e4626a6261e1b68",
        "name": "sql read",
        "func": "msg.topic = \"SELECT * FROM Logs;\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "ab85277f678d7b6c"
            ]
        ]
    },
    {
        "id": "8b764002d215e132",
        "type": "function",
        "z": "0e4626a6261e1b68",
        "name": "sql delete",
        "func": "msg.topic = \"DELETE FROM Logs;\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "84542e8486558fce"
            ]
        ]
    },
    {
        "id": "a9c945ee284511e6",
        "type": "function",
        "z": "0e4626a6261e1b68",
        "name": "sql read",
        "func": "msg.topic = \"SELECT * FROM Logs;\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "84542e8486558fce"
            ]
        ]
    },
    {
        "id": "84542e8486558fce",
        "type": "sqlite",
        "z": "0e4626a6261e1b68",
        "mydb": "4c519660a6cceb5e",
        "sqlquery": "msg.topic",
        "sql": "INSERT INTO logs ([timestamp], [level], [message], [application], [host], [ip])\nVALUES (msg.timestamp, 'INFO', 'User login successful', 'MyApp', 'localhost', '192.168.1.100');\n",
        "name": "Logs",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "ecee8b1e734a75ea"
            ]
        ]
    },
    {
        "id": "e1946e6e673421d5",
        "type": "sqlite",
        "z": "0e4626a6261e1b68",
        "mydb": "4c519660a6cceb5e",
        "sqlquery": "msg.topic",
        "sql": "INSERT INTO logs ([timestamp], [level], [message], [application], [host], [ip])\nVALUES (msg.timestamp, 'INFO', 'User login successful', 'MyApp', 'localhost', '192.168.1.100');\n",
        "name": "Logs",
        "x": 710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "579dd32027827304",
        "type": "http in",
        "z": "0e4626a6261e1b68",
        "name": "",
        "url": "/deletelogs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "28b35cbe8a3cb984"
            ]
        ]
    },
    {
        "id": "28b35cbe8a3cb984",
        "type": "function",
        "z": "0e4626a6261e1b68",
        "name": "sql delete",
        "func": "msg.topic = \"DELETE FROM Logs;\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "7f9b664e5e66628e"
            ]
        ]
    },
    {
        "id": "ab85277f678d7b6c",
        "type": "sqlite",
        "z": "0e4626a6261e1b68",
        "mydb": "4c519660a6cceb5e",
        "sqlquery": "msg.topic",
        "sql": "INSERT INTO logs ([timestamp], [level], [message], [application], [host], [ip])\nVALUES (msg.timestamp, 'INFO', 'User login successful', 'MyApp', 'localhost', '192.168.1.100');\n",
        "name": "Logs",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "3327eacef8954727"
            ]
        ]
    },
    {
        "id": "3327eacef8954727",
        "type": "http response",
        "z": "0e4626a6261e1b68",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "7f9b664e5e66628e",
        "type": "sqlite",
        "z": "0e4626a6261e1b68",
        "mydb": "4c519660a6cceb5e",
        "sqlquery": "msg.topic",
        "sql": "INSERT INTO logs ([timestamp], [level], [message], [application], [host], [ip])\nVALUES (msg.timestamp, 'INFO', 'User login successful', 'MyApp', 'localhost', '192.168.1.100');\n",
        "name": "Logs",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "c1f4edfee47d6d42"
            ]
        ]
    },
    {
        "id": "c1f4edfee47d6d42",
        "type": "http response",
        "z": "0e4626a6261e1b68",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 690,
        "y": 400,
        "wires": []
    }
]