flows.json
[
    {
        "id": "1bfd8fba4680f8c2",
        "type": "tab",
        "label": "Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94e9feb7e53ac9be",
        "type": "tab",
        "label": "Sqlite",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bed9e688723fe50d",
        "type": "sqlitedb",
        "db": "/data//projects/node-red/examples/northwind.db",
        "mode": "RWC"
    },
    {
        "id": "71b571d8a411b32c",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "1ca9b0f51462a6c5"
            ]
        ]
    },
    {
        "id": "1ca9b0f51462a6c5",
        "type": "file in",
        "z": "1bfd8fba4680f8c2",
        "name": "home.html",
        "filename": "/data/projects/node-red/examples/home.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "243e95ad81a5b411"
            ]
        ]
    },
    {
        "id": "243e95ad81a5b411",
        "type": "http response",
        "z": "1bfd8fba4680f8c2",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "e93264615be1a228",
        "type": "comment",
        "z": "1bfd8fba4680f8c2",
        "name": "Example Home page",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "ed3c184879b429d1",
        "type": "comment",
        "z": "1bfd8fba4680f8c2",
        "name": "Example Messages",
        "info": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "fddc949cc152e894",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "/example2",
        "url": "/example2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "57badce67c9e6fe4"
            ]
        ]
    },
    {
        "id": "91a32a21db9028f4",
        "type": "comment",
        "z": "1bfd8fba4680f8c2",
        "name": "Example json responses",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "57badce67c9e6fe4",
        "type": "function",
        "z": "1bfd8fba4680f8c2",
        "name": "json",
        "func": "// Create the JSON response\nvar response = {\n    message: \"Hello World2!\"\n};\n\n// Set the response object in the msg.payload\nmsg.payload = response;\n\n// Return the message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "e3a599e6c87d6e58"
            ]
        ]
    },
    {
        "id": "e3a599e6c87d6e58",
        "type": "http response",
        "z": "1bfd8fba4680f8c2",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "e22ef674a420f854",
        "type": "http in",
        "z": "1bfd8fba4680f8c2",
        "name": "/example1",
        "url": "/example1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "7e91d645fb16886f"
            ]
        ]
    },
    {
        "id": "7e91d645fb16886f",
        "type": "file in",
        "z": "1bfd8fba4680f8c2",
        "name": "json",
        "filename": "/data/projects/node-red/examples/example1.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "5bd67a5199c313c6"
            ]
        ]
    },
    {
        "id": "5bd67a5199c313c6",
        "type": "http response",
        "z": "1bfd8fba4680f8c2",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "a0b6a37077718314",
        "type": "inject",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "name",
                "v": "Example1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "7cda8b0c43aefd01"
            ]
        ]
    },
    {
        "id": "7cda8b0c43aefd01",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "898f4a61ac0e6717",
        "type": "inject",
        "z": "1bfd8fba4680f8c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "eae19b7eefd0235b"
            ]
        ]
    },
    {
        "id": "eae19b7eefd0235b",
        "type": "exec",
        "z": "1bfd8fba4680f8c2",
        "command": "uname -a",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "b9f17f611c1be0ab"
            ],
            [
                "d14c48765b3c9ad2"
            ],
            [
                "4eacc38af969855e"
            ]
        ]
    },
    {
        "id": "b9f17f611c1be0ab",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "d14c48765b3c9ad2",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "4eacc38af969855e",
        "type": "debug",
        "z": "1bfd8fba4680f8c2",
        "name": "return code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "46d1afde3e8625ee",
        "type": "http in",
        "z": "94e9feb7e53ac9be",
        "name": "",
        "url": "/customers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "af16b79c0b0e3d18"
            ]
        ]
    },
    {
        "id": "af16b79c0b0e3d18",
        "type": "sqlite",
        "z": "94e9feb7e53ac9be",
        "mydb": "bed9e688723fe50d",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM Customers",
        "name": "Northwind",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "7c5a29963e98090e"
            ]
        ]
    },
    {
        "id": "7c5a29963e98090e",
        "type": "http response",
        "z": "94e9feb7e53ac9be",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "7b5154e4f529b722",
        "type": "http in",
        "z": "94e9feb7e53ac9be",
        "name": "",
        "url": "/orders",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "088f85cc6410ea11"
            ]
        ]
    },
    {
        "id": "088f85cc6410ea11",
        "type": "sqlite",
        "z": "94e9feb7e53ac9be",
        "mydb": "bed9e688723fe50d",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM Orders",
        "name": "Northwind",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "7c5a29963e98090e"
            ]
        ]
    }
]